.m5{	margin: 0px 5px!important;
}
body{
	background-color: black!important;
}
.color-g{
	color: rgba(177,0,77,1.00)!important;
	font-size: 35px!important;
	font-weight: bold!important;
}
.brdr:hover{
	border-bottom: 1px groove rgba(177,27,105,0.87);
}
.brdr-h{
	border-bottom: 1px groove rgba(177,27,105,0.87);
}
.brdr-l{
	border-bottom: 1px groove rgba(128,128,128,1.00)!important;
}
.nav-link{
	margin: 0px 10px!important;
	font-size: 20px!important;
	padding: 0px 10px!important;
	color: white!important;
}
.dropdown-item:hover{
color: white!important;
	background-color: rgba(177,27,105,0.87)!important;
}
.drop-h{
color: white!important;
	background-color: rgba(177,27,105,0.87)!important;
}
.dropdown-item{
font-weight: 600!important;
	font-size: 18px!important;

}
.colr-pink{
color: rgba(177,27,105,0.87);
}
.f-w8{
	font-weight: 600!important;
}
.navbar-brand{
color: white!important;
}
.font-cur{
	font-family: 'Satisfy', cursive;
}
.fa-regular{
color: deeppink!important;
}
.height{
	height: 270px!important;
}
.cat{
	font-size: 60px!important;
color: whitesmoke;
}
.boder-h{
	border: 1px solid grey!important;
}
.shadow-h:hover{ 
box-shadow: 0px 8px 8px -1px rgba(177,27,105,0.87);
}
.shadow-c:hover{ 
box-shadow: rgba(177,27,105,0.6) 0px 4px 6px 1px, rgba(177,27,105,1) 0px 2px 4px 1px;
}
.fab{
color: rgba(177,0,77,1.00)!important;
}
.bg-grad{
	background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
	opacity: 
}
.btn a {
	text-decoration: none!important;
	color: black;
}
.btn:hover a{
	color: white;
}
#bbg{
	background-image: url("../books/banner/articles/book-review-slider.png")!important;
	background-size: 100% 100%!important;
	height: 400px!important;
}
#isl{
	background-image: url("../books/banner/slider01.jpg")!important;
	background-size: 100% 100%!important;
	height: 400px!important;
}
#fict{
	background-image: url("../books/banner/book-slider.jpg")!important;
	background-size: 100% 100%!important;
	height: 400px!important;
}
#subj{
	background-image: url("../books/banner/subj.png")!important;
	background-size: 100% 100%!important;
	height: 400px!important;
}
.carousel-control-next-icon , .carousel-control-prev-icon{
	color: white!important;
	background-color: black!important;
}
.hh{
	height: 40px!important;
}
.conn:hover .image {
  opacity: 0.3;
}
.conn:hover .middle {
  opacity: 1;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text {
color: rgba(177,0,77,1.00)!important;
  font-size: 16px;
	font-weight: bold!important;
	background-color: rgba(255,249,249,0.59)!important;
}
.text:hover{
	background-color: rgba(255,249,249,1)!important;
}
.z-100{
	z-index: 100!important;
}
.lockscreen-time{
background-color: rgba(0,0,0,0.2)!important;
	position: absolute;
	z-index: 100;
	width: 100%;
}
#currentTime{
	letter-spacing: 3px!important;
}
.screen{
	width: 100vw!important;
	height: 100vh!important;
	display: flex;
}
.bg-back{
		background-color: rgba(255,255,255,0.95);
}
.btn-close{
	font-size: 30px!important;
}
#form{
	height: inherit!important;
}
.fsize{
	font-size: 16px!important;
}
.ww{
	width: 400px!important;
}
.wid{
	width: 550px!important;
}
footer p{
	color: black!important;
}
.bg-greed{
	background-color: rgba(255,168,213,0.64);
	backdrop-filter:blur(7px)!important;
}
.bg-bb{
	background-color: rgba(0,0,0,0,4)!important;
	backdrop-filter:blur(2px)!important;
}
.article p{
	height: 180px!important;
	overflow-y: scroll!important;
}
.opacity-90{
	opacity: 90%;
}
.overflow{
	overflow-y: scroll!important;
}
/*Pre-Loader*/


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/* Preloader */
.container-preloader {
	align-items:center; cursor:none; display:flex; height:100%;
  justify-content:center; position:fixed; left:0; top:0; width:100%; z-index:900;
}
.container-preloader .animation-preloader {
	position:absolute; z-index: 100;}
/* Spinner Loading */
.container-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
	border-radius: 50%;  border: 10px solid rgba(0, 0, 0, 0.2);
  border-top-color: green; /* It is not in alphabetical order so that you do not overwrite it */
  height: 9em;  margin: 0 auto 3.5em auto; width: 9em;
}
/* Loading text */
.container-preloader .animation-preloader .txt-loading {
  font: bold 5em 'Montserrat', sans-serif;
	text-align: center;	user-select: none;
}
.container-preloader .animation-preloader .txt-loading .characters:before {
  animation: characters 4s infinite; 
  content: attr(preloader-text);  left: 0;
  opacity: 0;  position: absolute;  top: 0;
  transform: rotateY(-90deg);
		color: rgba(177,0,77,1.00)!important;
}
.container-preloader .animation-preloader .txt-loading .characters {
	position: relative;
		color: rgba(232,138,178,0.50);


}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(2):before {
  animation-delay: 0.2s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(3):before {
  animation-delay: 0.4s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(4):before {
  animation-delay: 0.6s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(5):before {
  animation-delay: 0.8s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(6):before {
  animation-delay: 1s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(7):before {
  animation-delay: 1.2s;
}
.container-preloader .loader-section {
  background-color: #000;  height: 100%;
  position: fixed;  top: 0;  width: calc(50% + 1px);
}
.container-preloader .loader-section.section-left {
  left: 0;
}
.container-preloader .loader-section.section-right {
  right: 0;
}
/* Fade effect on loading animation */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}
/* Curtain effect */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
/* Animation of the preloader */
@keyframes spinner {
to {
	transform: rotateZ(360deg);
}}
/* Animation of letters loading from the preloader */
@keyframes characters {
  0%,
  75%,
  100% {
 opacity: 0;
 transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }}
/* Laptop size back (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {
	/* Preloader */
	/* Spinner Loading */	
	.container-preloader .animation-preloader .spinner {
	height: 8em;
	width: 8em;
	}
	/* Text Loading */
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em 'Montserrat', sans-serif;
	}}
@media screen and (max-width: 500px) {
	/* Prelaoder */
	/* Spinner Loading */
	.container-preloader .animation-preloader .spinner {
	height: 7em;
	width: 7em;
	}
	/*Loading text */
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 2em 'Montserrat', sans-serif;
	}}
.origin{text-decoration:none;
font-size:45px;}





































/* color:  red#ec1c24, black#212d31, grey#343a40, white#eee  */
* {
  box-sizing: border-box;
}

.contain {
	background: url("../books/banner/comics strips (1).jpg");
	background-size: 100% 100%;

}



.contact-wrapper {
  margin: auto 0;
}

.submit-btn {
  float: left;
}
.reset-btn {
  float: right;
}

.form-headline:after {
  content: "";
  display: block;
  width: 10%;
  padding-top: 10px;
  border-bottom: 3px solid #ec1c24;
}

.highlight-text {
  color: #ec1c24;
}

.hightlight-contact-info {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
}

.highlight-text-grey {
  font-weight: 500;
}

.email-info {
    margin-top: 20px;
}

::-webkit-input-placeholder { /* Chrome */
  font-family: 'Roboto', sans-serif;
}

.required-input {
  color: black;
}
@media (min-width: 600px) {
  .contain {
    padding: 0;
  }
}

h3,
ul {
  margin: 0;
}

h3 {
  margin-bottom: 1rem;
}

.form-input:focus,
textarea:focus{
  outline: 1.5px solid #ec1c24;
}

.form-input,
textarea {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.wrapper > * {
  padding: 1em;
}
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .wrapper > * {
    padding: 2em 2em;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.contacts {
  color: #212d31;
}


form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
form label {
  display: block;
}
form p {
  margin: 0;
}

.full-width {
  grid-column: 1 / 3;
}

button,
.submit-btn,
.form-input,
textarea {
  padding: 1em;
}

button, .submit-btn {
  background: transparent;
  border: 1px solid  rgba(177,0,77,1.00);
  color:  rgba(177,0,77,1.00);
  border-radius: 15px;
  padding: 5px 20px;
  text-transform: uppercase;
}
.error {
  color: #ec1c24;
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}